﻿/* Part of nuget package */

.tree-container {
    overflow-x: auto;
    position: relative;
}

.header-floating {
    position: absolute;
    background-color: white;
}

.header-floating.tree-head {
    left: 1px;
    right: 1px;
}

.dynamic-tree {
    width: 100%;
}

.tree-head th {
    font-weight: normal;
    background-color: #ebebeb;
}

.tree-check-status {
    display: none;
}

.tree {
    width: 100%;
    color: #333333;
    background-color: white;
    border: 1px solid #C0C0C0;
    cursor: default;
}

.tree td, .tree th {
    padding: 3px 6px 4px;

    border-collapse: collapse;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #D3D3D3;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 3px 6px 4px;
    vertical-align: middle;
    white-space: nowrap;

    border-bottom-color: #c0c0c0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tree th {
    white-space: normal;
}

table.tree {
    border-collapse: collapse; /* Collapse is important for IE11 for Win7 that has an issue with shadow above borders */
    border-spacing: 0;
}

.tree tr {
    border-collapse: separate !important;
}

.row-selected {
    background-color: #eee;
}

.tree-expand-area {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    position: relative;
}

.tree-check-area {
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}

.tree-expandable {
    font-weight: bold;
}

.tree-expand {
    display: inline-block;
    position: relative;
    height: 14px;
    width: 14px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}

.tree-expand:after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    content: '';
    width: 14px;
    height: 14px;
    background: transparent url(/Content/Components/DevExpress/custom/DXR.png) no-repeat 0 0;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.tree-expand.tree-expanded:after {
    transform: rotate(45deg);
}

.tree-expand.hidden {
    display: block !important;
    visibility: hidden !important;
}

.tree-check, .devex-check {
    height: 14px;
    width: 14px;
    display: inline-block;
    content: '';
    position: relative;
}

.tree-check:before, .devex-check:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #C0C0C0;
    overflow: hidden;
    content: '';
    z-index: 5;
}

.tree-check.tree-checked:after, .devex-check-checked:after {
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid #C0C0C0;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    overflow: hidden;
    content: '';
    z-index: 10;
}

.tree-check.disabled, .devex-check.disabled {
    opacity: .6;
}

.tree-check.tree-grayed:after {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    background: #C0C0C0;
    overflow: hidden;
    content: '';
    z-index: 10;
}

.tree-cell-value {
    padding: 0;
}

.tree tr.tree-data-row {
    display: none;
}

.tree tr.tree-data-row.row-visible {
    display: table-row;
}

.tree tr.tree-data-row:hover {
    background-color: #eef;
}

.tree-content {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
}

.tree-footer {
    background-color: white;
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.page.page-current {
    background-color: #4580FF;
    border-radius: 2px;
    color: white;
}

.tree-footer .page {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    width: 18px;
    text-align: center;
}

.tree-footer .pages {
    padding: 8px;
}

.tree-footer .page-prev,
.tree-footer .page-next {
    padding: 0 8px;
    width: auto;

}

.tree-page-count {
    float: right;
    line-height: 18px;
}

.tree-head th {
    position: relative;
    z-index: 10
}

.tree-column-sticky {
    -webkit-box-shadow: 0 1px 0 0 #c0c0c0;
    -ms-box-shadow: 0 1px 0 0 #c0c0c0;
    box-shadow: 0 1px 0 0 #c0c0c0;
}

.tree-head .sortable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th.sortable-placeholder {
    border: 2px dashed #4580FF;
    background: none;
}

.absolute-placeholder {
    background-color: red;
    border: 1px none red;
    position: fixed;
    z-index: 1060;
    width: 1px;
}

.absolute-placeholder .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f00;
    position: absolute;
    top: 100%;
    left: -5px;
}

.absolute-placeholder .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
    position: absolute;
    top: -5px;
    left: -5px;
}

th > a.tree-column-title {
    color: #000;
    text-decoration: none;
}

th > a.tree-column-title.asc:after {
    content: " \2191";
}

th > a.tree-column-title.desc:after {
    content: " \2193";
}

.tree-container .deny-selection {
    color: #888;
    cursor: default;
}

.tree-container .deny-selection-type {
    color: #f00;
    cursor: default;
}

.tree-container .allow-selection {
    color: #000;
}

/* #region Context Menu */

.cctx {
    display: none;
    position: absolute;
    -moz-min-width: 160px;
    -ms-min-width: 160px;
    -o-min-width: 160px;
    -webkit-min-width: 160px;
    min-width: 160px;

    background-color: #FFF;
    color: #000;
    border: solid 1px #BABABA;
    -webkit-box-shadow: 2px 2px 4px #ABABAB;
    -ms-box-shadow: 2px 2px 4px #ABABAB;
    box-shadow: 2px 2px 4px #ABABAB;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    z-index: 1051;
}

.cctx-item {
    cursor: default;
    padding: 7px 25px;
}

.cctx-item:hover {
    background-color: #EFEFEF;
}

.cctx-separator {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px #E9E9E9;
}

.tree + .loading-message,
.tree-container .tree-loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: none rgba(255, 255, 255, .7);
    width: initial;
    height: initial;
    margin: 0;
    z-index: 50;
}

.tree + .loading-message:before,
.tree-container .tree-loading:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px #cbcbcb;
    border-top-color: #ff000f;
    -webkit-animation: fa-spin .7s infinite linear;
    animation: fa-spin .7s infinite linear;
    content: '';
}

/* #endregion */